var current_comment = "#comment_<%= @comment.id %>"
var current_edit_form = "#edit_comment_<%= @comment.id %>"

$(current_comment + " .wrap-content-comment").append("<%= j render "form" %>")
$(current_edit_form + " #comment_image, " + current_edit_form + " .control-area").hide()
$(current_comment + " .list-features a").first().css("color", "#2e9fff")
$(current_edit_form + " img").after("<button class='cancel btn btn-default'><%= t "comment.cancel" %></button>")

$(current_edit_form + " textarea").focus(function(){
  $(this).next().slideDown()
})

$(current_edit_form + " .control-area img").click(function(){
  $(this).prev().click()
})

$(current_edit_form + " .control-area .cancel").click(function(){
  $(this).closest(".edit_comment").remove()
})

$(current_edit_form + " #comment_image").change(function(){
  $(this).nextAll("p").text($(this).val())
})

$(current_comment + " .list-features a").first().click(function(){
  if($(this).parent().next("form").length > 0) {
    return false
  }
})
