<div id="button">
  <h4>
    <strong>
      <%= link_to t("signin"), "#",
        data: {toggle: :modal, target: "#myModal",
        remote: new_user_session_url}, onclick: "onClick();" %>
    </strong>
    <strong>
      <%= link_to t("signup"), "#",
        data: {toggle: :modal, target: "#myModal",
        remote: new_user_registration_url}, onclick: "onClick();" %>
    </strong>
  </h4>
</div>
