<div id="chat-info" class="chat-box">
  <div id="chat-dialog" class="row chat-box-div">
    <div id="chat-head" class="col-md-12 chat-box-head">
      <%= t "chat.head" %>
      <div class="btn-group chat-dialog-btn">
        <div id="chat-dialog-btn" class="fa fa-angle-double-up"></div>
      </div>
    </div>
    <div id="message-history-chat" class="col-md-12 panel-body chat-box-main">
    </div>
    <div id="chat-footer" class="chat-box-footer">
      <div class="input-group">
        <input type="text" class="form-control" id="message-input-field">
        <span class="input-group-btn">
          <button id="chat-send-btn" class="btn btn-info" type="button"><%= t "chat.send" %></button>
        </span>
      </div>
    </div>
  </div>
</div>
