<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t "error.form_contain" %>
      <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li class="error-messages"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
