<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="myModalName" class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="col-md-15">
            <div class="col-md-13">
              <div id="new_address_view" style="display: block">
                <%= render "addresses/new_address_modal_form" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
