<ul id="sample-menu-1" class="sf-menu">
  <% Menu.top.roots.each do |root| %>
    <li>
      <%= link_to root.name, root.url %>
        <% if root.has_children? %>
          <ul>
            <% root.children.each do |children| %>
              <li><%= link_to children.name, children.url %></li>
            <% end %>
          </ul>
        <% end %>
    </li>
  <% end %>
</ul>
