<div id="carousel-example-generic" class="carousel slide" data-interval="false">
  <div class="carousel-inner" role="listbox">
    <% address.images.each do |image| %>
      <div class="item">
        <%= link_to image.photo.url, {class: "fancybox", rel: "gallery"} do %>
          <%= image_tag image.photo.medium.url %>
        <% end %>
      </div>
    <% end %>
  </div>

  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only"><%= t("Previous") %></span>
  </a>

  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only"><%= t("Next") %></span>
  </a>
</div>
