<div class="form-create-review">
  <div class="row">
    <div class="col-md-1 avatar">
      <% if user_signed_in? %>
        <%= link_to "#" do %>
          <%= image_tag current_user.avatar if current_user.avatar %>
          <%= image_tag Settings.user.avatar_default if current_user.avatar.nil? %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-11">
      <%= render "reviews/form" %>
    </div>
  </div>
</div>
