<div class="address visited-address">
  <div class="address-thumb">
    <div class="address-id">
    </div>
  </div>
  <div class="address-details" id="address-details">
    <div class="title">
      <a class="visit" href="#"></a>
    </div>
    <p class="p-address"></p>
    <p><%= t "capacity" %>
      <span class="capacity">
      </span> | <%= t "contact" %>
      <span class="contact">
      </span>
    </p>
    <div>
      <span class="right"></span>
    </div>
  </div><br>
</div>
