<div class="address">
  <div class="address-info">
    <div class="title">
      <%= @address.address %>
    </div>
    <div class="address-content">
      <%= render "addresses/carousel", address: @address %>
    </div>
  </div>
  <div class="address-reviews">
    <div class="title">
      <%= @address.description %>
    </div>
  </div>
</div>
