@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
  background-color: #E6E6E6
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

/* header */

#header_wrapper{
  height: 44px;
  width: auto;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

header.navbar-inverse{
  background-color: #3a5795;
}

#my-header{
  height: 44px;
  min-height: 44px;
  margin-bottom: 0px;
}

#my-header .dropdown ul li{
  z-index: 999;
}

a.dropdown-toggle img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

div.main-container {
  margin-top: 15px;
}

div.main-container header{
  /*margin-top: 50px; */
}

div.container {
  width: 980px;
}

nav ul.nav li a{
  padding-top: 11px;
}

#fat-menu a{
  height: 44px;
}

html, body{
  height: 91%;
  margin: 0px;
  padding: 0px
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-top: 7px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#target {
  width: 345px;
}

#left-con {
  width: 19%;
  height: 90%;
  float: left;
  margin-top: 50px;
  border: 1px solid red;
}

#map-canvas {
  width: 100%;
  height: 100%;
  float: right;
  padding: 5px;
}

#mylocation {
  background-size: cover;
  width: 120px;
  height: 32px;
  position: absolute;
  bottom: 7%;
  right: 5%;
}

.info {
  display: none;
}

#mylocation:hover .info {
  display: block;
  color: blue;
}

#search {
  background-size: cover;
  position: absolute;
  padding: 0px;
  height: 35px;
  top: 5%;
  left: 4%;
}

.search_field {
  width: 350px;
}

.search_button {
  width: 70px;
  color: white;
  background-color: #0099FF;
}

#button {
  background-size: cover;
  position: absolute;
  padding: 0px;
  top: 5%;
  right: 6%;
}

.main-container {
  width: 980px;
  min-width: 980px;
  margin: 0 auto;

  .main-header {
    height: 80px;
  }
}

#mode {
  visibility: hidden;
  position: absolute;
  right: 5%;
  top: 45%;
  background-color: #69B9E6;
  border-radius: 5px;
  padding: 6px 14px;
}

#mode p {
  text-align: center;
}

.address {
  width: 100%;
  border-radius: 5px;
  padding: 8px 5px 20px 5px;
  margin-bottom: 7px;
  background: #FFF;

  .address-thumb {
    width: 20%;
    float: left;
    padding-bottom: 5px;

    img {
      width: 75%;
      height: 70px;
      padding-bottom: 8px;
    }
    .address-id {
      color: #666;
      font-size: 14px;
    }
  }

  .address-details {
    padding-left: 20%;

    .capacity {
      color: #DA0802
    }
    .contact {
      color: #666;
    }
    .title {
      font-size: 22px;
      color: #333;
    }
    .right {
      font-size: 14px;
      float: right;
      color: #999;
      font-style: italic;
    }
  }
}

/* login form */

ul.list-unstyled li {
  margin-bottom: 10px;
}

p.lead {
  margin-bottom: 6px;
  font-size: 15px;
}

div.modal-content {
  box-shadow: none;
  border: none;
  border-radius: none;
  background-color: #E6E6E6;
}

#login-overlay {
  margin-left: 0px;
}

#remember {
  margin-bottom: 5px;
}

#primary {
  background: none repeat scroll 0 0 white;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  overflow: hidden;
  padding: 8px 8px 50px 8px;

  .title {
    margin-bottom: 8px;
    h3 {
      font-size: 22px;
      color: #337ab7;
      margin: 10px 0px 18px 5px;
    }
    p {
      font-size: 13px;
      color: #999;
      margin-left:10px;
    }
  }
  .address-detail {
    padding-bottom: 10px;
    p {
      margin: 0px 0px 2px 8px;
      line-height: 25px;
      .labels {
        color: #000;
        font-weight: bold;
      }
      span:last-child {
        margin-left: 6px;
      }
    }
    .list-info {
      margin: 0px 0px 20px 10px;
      padding: 20px 0px 50px 0px;
      border-top: 1px solid #d7edfc;
      border-bottom: 1px solid #d7edfc;
      img {
        width: 110px;
        height: 110px;
      }
      a {
        display: block;
        font-size: 16px;
        margin: -110px 0px 0px 120px;
      }
    }
  }
  .image-addresses {
    .item img {
      margin: auto;
    }
    #carousel-example-generic {
      width: 612px;
      height: 378px;
      margin: auto;
      border-radius: 10px;
      img {
        height: 374px;
        width: 612px;
      }
    }
  }
  .address_description {
    margin: 5px 0px 40px 0px;
    p {
      margin: 0px 8px 0px 5px;
    }
  }
}

/* right content column */

#bnt-box {
  border-radius: 5px;
  padding: 15px 0px;
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
  border: solid 1px;
  border-color: #cbd3d1;

  .btn {
    margin-bottom: 5px;
    margin-top: 5px;
    border: soild 1px;
  }
}

#recent-address-box {
  border-radius: 5px;
  border: solid 1px;
  background-color: white;
  border-color: rgb(203, 211, 209);

  img {
    width: 93%;
    height: 100%;
    margin-top: 8px;
  }

  .recent_address {
    border-bottom: dotted 1px;
    border-color: rgb(203, 211, 209);
    padding-left: 10px;
    padding-right: 10px;

    .col-md-3 {
      padding: 0px;
    }
  }
}

#recent-address-info{
  font-size: 12px;

  .glyphicon-phone {
    margin-left: -1px;
  }
}

.description {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  padding: 7px 0px 0px;
  font-size: 14px;
}

#right-content-title {
  border-bottom: soild 1px;
  padding: 10px 0px 10px 0px;
  border-bottom: solid 1px;
  border-color: rgb(203, 211, 209);

  .glyphicon {
    margin: 0px 3px 0px 15px;
  }
}

.num-info {
  color: #DA0802
}

#fix-index-column {
  padding-left: 0px;
}

/* registation */

#wrap {
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Opera */
background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
background-repeat: no-repeat;
background-attachment: fixed;
}

legend {
  color:#141823;
  font-size:25px;
  font-weight:bold;
}

.signup-btn {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #578843);
  background-image: -moz-linear-gradient(top, #79bc64, #578843);
  background-image: -ms-linear-gradient(top, #79bc64, #578843);
  background-image: -o-linear-gradient(top, #79bc64, #578843);
  background-image: linear-gradient(to bottom, #79bc64, #578843);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  border: solid #DEDEDE 1px;
  text-decoration: none;
}

.signup-btn:hover {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
  background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
  background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
  background-image: -o-linear-gradient(top, #79bc64, #5e7056);
  background-image: linear-gradient(to bottom, #79bc64, #5e7056);
  text-decoration: none;
}

.navbar-default .navbar-brand{
  color:#fff;
  font-size:30px;
  font-weight:bold;
}

.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
  #home{
    margin-top:50px;
  }
  #home .slogan {
    color: #0e385f;
    line-height: 29px;
    font-weight:bold;
  }
}

#signup_form input {
  margin-bottom: 8px;
}

#signup_form p {
  height: 16px;
  width: auto;
  margin-left: 160px;
  font-weight: bold;
}

#fa-square {
  font-size: 11px;
  padding-right: 1px;
}

#fa-usd {
  margin-left: 5px;
}
