@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 60px;
  background-color: #E6E6E6 !important;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

.address-input {
  max-width: 500px;
  min-width: 500px;
  max-height: 200px;
  float: right;
}

/* header */

#header_wrapper{
  height: 44px;
  width: auto;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

header.navbar-inverse{
  background-color: #3a5795;
}

#my-header{
  height: 44px;
  min-height: 44px;
  margin-bottom: 0px;
}

#my-header .dropdown ul li{
  z-index: 999;
}

a.dropdown-toggle img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

div.main-container {
  margin-top: 15px;
}

div.main-container header{
  /*margin-top: 50px; */
}

nav ul.nav li a{
  padding-top: 11px;
}

#fat-menu a{
  height: 44px;
}

html, body{
  height: 100%;
  margin: 0px;
  padding: 0px
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-top: 7px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#target {
  width: 345px;
}

#images-form {
  width: 638px;
  margin: 0px 0px 20px 0px;
  padding: 5px;
}

.btn-group {
  margin: 20px 0px 20px 0px;
}

#map-add-address {
  width: 638px;
  height: 500px;
  margin-bottom: 30px;
}

#map-canvas {
  width: 100%;
  height: 100%;
  float: right;
  padding: 0px;
}

#mylocation {
  background-size: cover;
  width: 120px;
  height: 32px;
  position: absolute;
  bottom: 7%;
  right: 5%;
}

.info {
  display: none;
}

#mylocation:hover .info {
  display: block;
  color: blue;
}

#search {
  background-size: cover;
  position: absolute;
  padding: 0px;
  height: 35px;
  top: 5%;
  left: 4%;
}

.search_field {
  width: 350px;
}

.search_button {
  width: 70px;
  color: white;
  background-color: #0099FF;
}

#button {
  background-size: cover;
  position: absolute;
  padding: 0px;
  top: 5%;
  right: 6%;
}

.main-container {
  width: 980px;
  min-width: 980px;
  margin: 0 auto;
  .main-header {
    height: 80px;
  }
}

#mode {
  visibility: hidden;
  position: absolute;
  right: 5%;
  top: 45%;
  background-color: #69B9E6;
  border-radius: 5px;
  padding: 6px 14px;
}

#mode p {
  text-align: center;
}

.address {
  width: 100%;
  padding: 8px 5px 30px 5px;
  border-radius: 5px;
  padding: 8px 5px 20px 5px;
  border-radius: 3px;
  padding: 8px 5px 10px 5px;
  background: #FFF;
  border-bottom: solid 1px;
  border-color: #cbd3d1;

  .address-thumb {
    width: 20%;
    float: left;
    padding-bottom: 5px;

    img {
      width: 75%;
      height: 70px;
      padding-bottom: 8px;
    }
    .address-id {
      color: #666;
      font-size: 14px;
    }
  }

  .address-details {
    padding-left: 20%;

    .capacity {
      color: #DA0802
    }
    .province_city {
      color: #666;
    }
    .title {
      font-size: 18px;
      color: #333;
    }
    p {
      margin: 0px;
    }
    .more-info {
      .left {
        cursor: pointer;
      }
      .right {
        font-size: 14px;
        float: right;
        color: #999;
        font-style: italic;
      }
    }
  }
}

/* login form */

ul.list-unstyled li {
  margin-bottom: 10px;
}

p.lead {
  margin-bottom: 6px;
  font-size: 15px;
}

div.modal-content {
  box-shadow: none;
  border: none;
  border-radius: none;
  background-color: #E6E6E6;
}

#login-overlay {
  margin-left: 0px;
}

#remember {
  margin-bottom: 5px;
}

#primary {
  background: none repeat scroll 0 0 white;
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  overflow: hidden;
  padding: 8px 8px 50px 8px;

  .title {
    margin-bottom: 8px;
    h2 {
      font-size: 22px;
      color: #337ab7;
      margin: 10px 0px 11px 5px;
    }
    p {
      font-size: 13px;
      color: #999;
      margin: 20px 0px 0px 2px;
    }
    #show-score {
      margin-left: 4px;
      width: 110px;
    }
    #show-score + span {
      display: block;
      margin: -20px 0px 0px 120px;
    }
  }
  .address-detail {
    padding-bottom: 10px;
    p {
      margin: 0px 0px 2px 8px;
      line-height: 25px;
      .labels {
        color: #000;
        font-weight: bold;
      }
      span:last-child {
        margin-left: 6px;
      }
    }
    .list-info {
      margin: 0px 0px 20px 10px;
      padding: 20px 0px 50px 0px;
      border-top: 1px solid #d7edfc;
      border-bottom: 1px solid #d7edfc;
      img {
        width: 110px;
        height: 110px;
      }
      a {
        display: block;
        font-size: 16px;
        margin: -110px 0px 0px 120px;
      }
    }
  }
  .image-addresses {
    .item img {
      margin: auto;
    }
    #carousel-example-generic {
      width: 612px;
      height: 378px;
      margin: auto;
      border-radius: 10px;
      img {
        height: 374px;
        width: 612px;
      }
    }
  }
  .address_description {
    margin: 5px 0px 40px 0px;
    p {
      margin: 0px 8px 0px 5px;
    }
  }
}

.chat-box{
  width: 250px;
  position: fixed;
  right: 30px;
  bottom: -460px;
  .chat-box-div{
    height: 500px;
    border: 2px solid #3a5795;
    border-bottom-width: 0px;
    background: white;
    .chat-box-head{
      height: 50px;
      padding: 10px 15px;
      border-bottom: 2px solid #A12EB3;
      background-color: #3a5795;
      color: #fff;
      text-align: center;
      .chat-dialog-btn{
        float: right !important;
        margin: 0px;
      }
    }
    .chat-box-main{
      max-height: 395px !important;
      overflow: auto;
      padding: 15px;
      .chat-box-left{
        width: 100%;
        height: auto;
        padding: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        position: relative;
        border: 1px solid #C5C5C5;
        font-size: 12px;
      }
      .chat-box-name-left{
        margin-top: 30px;
        margin-left: 60px;
        text-align: left;
        color: #049E64;
      }
      .chat-box-right{
        width: 100%;
        height: auto;
        padding: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        position: relative;
        border: 1px solid #C5C5C5;
        font-size: 12px;
      }
      .chat-box-name-right{
        color: #354EA0;
        margin-top: 30px;
        margin-right: 60px;
        text-align: right;
      }
      .hr-class{
        border-top: 1px solid #A12EB3;
      }
    }
    .chat-box-footer{
      background-color: #D8D8D8;
      padding: 10px;
      position: absolute;
      bottom: 0px;
      right: -13px !important;
      width: 276px
    }
  }
}

/* right content column */

#bnt-box {
  border-radius: 5px;
  padding: 15px 0px;
  text-align: center;
  margin-bottom: 10px;
  background-color: white;
  border: solid 1px;
  border-color: #cbd3d1;

  .btn {
    margin-bottom: 5px;
    margin-top: 5px;
    border: soild 1px;
  }
}

#recent-address-box {
  border-radius: 5px;
  border: solid 1px;
  background-color: white;
  border-color: rgb(203, 211, 209);

  img {
    width: 93%;
    height: 100%;
    margin-top: 8px;
  }

  .recent_address {
    border-bottom: dotted 1px;
    border-color: rgb(203, 211, 209);
    padding-left: 10px;
    padding-right: 10px;

    .col-md-3 {
      padding: 0px;
    }
  }
}

#recent-address-info{
  font-size: 12px;

  .glyphicon-phone {
    margin-left: -1px;
  }
}

.description {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  padding: 7px 0px 0px;
  font-size: 14px;
}

#right-content-title {
  border-bottom: soild 1px;
  padding: 10px 0px 10px 0px;
  border-bottom: solid 1px;
  border-color: rgb(203, 211, 209);

  .glyphicon {
    margin: 0px 3px 0px 15px;
  }
}

.num-info {
  color: #DA0802
}

#fix-index-column {
  padding-left: 0px;
}

/* registation */

#wrap {
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Mozilla Firefox */
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Opera */
background-image: -o-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #D3D8E8));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #D3D8E8 100%);
/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to bottom, #FFFFFF 0%, #D3D8E8 100%);
background-repeat: no-repeat;
background-attachment: fixed;
}

legend {
  color:#141823;
  font-size:25px;
  font-weight:bold;
}

.signup-btn {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #578843);
  background-image: -moz-linear-gradient(top, #79bc64, #578843);
  background-image: -ms-linear-gradient(top, #79bc64, #578843);
  background-image: -o-linear-gradient(top, #79bc64, #578843);
  background-image: linear-gradient(to bottom, #79bc64, #578843);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  text-shadow: 0px 1px 0px #898a88;
  -webkit-box-shadow: 0px 0px 0px #a4e388;
  -moz-box-shadow: 0px 0px 0px #a4e388;
  box-shadow: 0px 0px 0px #a4e388;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  border: solid #DEDEDE 1px;
  text-decoration: none;
}

.signup-btn:hover {
  background: #79bc64;
  background-image: -webkit-linear-gradient(top, #79bc64, #5e7056);
  background-image: -moz-linear-gradient(top, #79bc64, #5e7056);
  background-image: -ms-linear-gradient(top, #79bc64, #5e7056);
  background-image: -o-linear-gradient(top, #79bc64, #5e7056);
  background-image: linear-gradient(to bottom, #79bc64, #5e7056);
  text-decoration: none;
}

.navbar-default .navbar-brand{
  color:#fff;
  font-size:30px;
  font-weight:bold;
}

.form .form-control { margin-bottom: 10px; }
@media (min-width:768px) {
  #home{
    margin-top:50px;
  }
  #home .slogan {
    color: #0e385f;
    line-height: 29px;
    font-weight:bold;
  }
}

#signup_form input {
  margin-bottom: 8px;
}

#signup_form p {
  height: 16px;
  width: auto;
  margin-left: 160px;
  font-weight: bold;
}

#fa-square {
  font-size: 11px;
  padding-right: 1px;
}

.second-icon {
  margin-left: 5px;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 25px;
  padding: 2px;
  font-size: 12px;
  background: image-url("arrow.png") no-repeat right;
  background-position: static;
  background-size: 15px 25px;
}

.fix_checkbox_label {
  position: absolute;
  left: 250px;
  display: block;
}

.div-title {
  border-bottom: soild 1px;
  padding: 10px 0px 10px 0px;
  border-bottom: solid 1px;
  border-color: rgb(203, 211, 209);

  span {
    margin-left: 5px;
  }

  #link_see_all {
    float: right;
    margin-right: 5px;
  }
}

.main-content {
  border-radius: 5px;
  border: solid 1px;
  background-color: white;
  border-color: #E6E6E6;
  margin-bottom: 10px;
}

.panel-default > .panel-heading  {
  background-color: #FFFFFF !important;
  border-radius: 5px;
}

.navbar-default {
  background-color: #FFFFFF !important;
}

#search-panel {
  position: relatetive;
  height: 200px;
}

.tab-content {
  display: inline-block;
  width: 638px;
  margin-top: 15px;
  height: 50px;
  #tab-pane-left {
  width: 600px;
  float: left;
  display: inline-block;
    .choose-address-image {
      margin-top: 10px;
    }
    .set-avatar-checkbox{
      margin-top: 10px;
      float: right !important;
      width: 20px;
    }
  }
  #tab-pane-right {
  width: 38px;
  float: right;
  }
  .glyphicon-trash {
  display: none;
  }
}

.tab-content:hover .glyphicon-trash {
  display: block;
}

.remove-fields-botton {
  float: right;
}

#image-fields .fields input{
  display: inline-block;
}

#buton-add-image {
  padding: 6px 12px;
  width: 130px;
  border-radius: 4px;
  border: 1px solid #9D9D9D;
  background: #337AB7;
  margin-bottom: 15px;
  a {
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    margin-left: 15px;
    text-decoration: none;
  }
}

#buton-add-image:hover {
  border: 1px solid #2E6DA4;
  background: #3A5795;
  a {
    text-decoration: none;
    color: #ffffff;
  }
}

.glyphicon-trash {
  float: right;
  color: #FFF;
  background-color: #D9534F;
  border-color: #D43F3A;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px 12px;
}

.glyphicon-trash:hover {
  float: right;
  color: #FFF;
  background-color: #D43F3A;
  border-radius: 4px;
  text-decoration: none;
}

.btn-primary {
  margin-bottom: 20px !important;
}

/* footer */

#footer {
  background-color: white;
  margin-top: 10px;
  height: 250px;

  li a {
    color: black;
  }

  #col-1 {
    width: 20%;
  }

  #col-3 {
    width: 22%;
  }

  #col-4 {
    width: 28%;
  }

  .container {
    width: 1070px;
    padding: 15px 15px 15px;
  }

  h4 {
    border-bottom: 1px solid rgb(203, 211, 209);
  }

  #fa-copyright {
    margin-right: 2px;
  }
}

.review-area {
  padding: 0px 5px 0px 5px;
  #header {
    padding-bottom: 18px;
    border-bottom: 2px solid #EBEEEF;
    h2 {
      margin: 50px 0px 0px 12px;
      font-size: 15px;
      font-weight: 700;
      color: #3f4549;
    }
    p {
      width: 79px;
      margin-left: 10px;
      padding-bottom: 8px;
      border-bottom: 2px solid #C00000;
    }
  }
  .review-body {
    margin-top: 26px;
    h2 {
      font-size: 15px;
      font-weight: 600;
      margin: 0px 0px 20px 12px;
    }
    .avatar img {
      width: 60px;
      height: 60px;
    }
    .form-create-review {
      width: 600px;
      margin: 0px auto;
      img {
        margin: 0px 13px 0px 0px;
      }
      #new_review {
        margin-left: 30px;
        #review_content {
          width: 500px;
          height: 80px;
          max-width: 500px;
          min-width: 500px;
          min-height: 80px;
          border: 1px solid #CCD3D7;
          font-size: 16px;
        }
        .post-action {
          width: 500px;
          border: 1px solid #CCD3D7;
          border-top: none;
          border-radius: 3px;
          padding: 3px 0px 3px 0px;
          section {
            float: left;
            margin-top: 5px;
          }
          .upload-img {
            width: 40px;
            img {
              width: 28px;
              height: 28px;
              margin: 1px 0px 0px 20px;
            }
            #choose-file {
              background: image-url("upload_img.png");
            }
            img:hover {
              cursor: pointer;
            }
          }
          #selected-file-name {
            margin-left: 18px;
          }
          .rate-address {
            width: 190px;
            margin: 12px 0px 0px 50px;
          }
          .form-actions {
            width: 120px;
            margin-left: 88px;
            input {
              color: #fff;
              margin: 2px 0px 0px 0px;
              font-weight: bold;
              background: #4466AA;
              border: none;
            }
          }
        }
      }
    }
    #review-list {
      width: 600px;
      margin-top: 30px;
      .review {
        position: relative;
        margin-bottom: 20px;
        .col-md-1 {
          padding: 0px;
        }
        margin-left: 30px;
        img {
          width: 60px;
          height: 60px;
        }
        .wrap-content-review {
          margin-left: 20px;
          a {
            font-size: 15px;
          }
          span {
            margin-left: 17px;
            color: rgba(0, 39, 59, 0.35);
            font-size: 12px;
            font-weight: 500;
          }
          .review-content {
            line-height: 21px;
          }
          .list-features {
            margin-top: 5px;
            a {
            color: rgba(0, 39, 59, 0.35);
            font-size: 14px;
            margin-right: 15px;
            }
          }
        }
        .icon-colspan {
          position: absolute;
          width: 40px;
          right: -15px;
          top: 5px;
          color: rgba(0, 39, 59, 0.35);
          font-size: 15px;
          display: none;
        }
      }
      .review:hover .icon-colspan {
        display: block;
        cursor: pointer;
      }
    }
  }
}

.one-chat-message{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  .one-chat-img-left{
    padding-left: 5px;
  }
  .one-chat-img-right{
    padding-right: 5px;
  }
  .message-container-left{
    position: relative;
    .message-content-left{
      width: auto;
      max-width: 200px;
      font-family: helvetica, arial, sans-serif;
      word-wrap: break-word;
      border: 1px solid #a1a1a1;
      background: #dbedfe;
      border-radius: 3px;
      color: #373e4d;
      padding-left: 6px;
      padding-right: 5px;
      padding-bottom: 3px;
      padding-top: 4px;
      text-align: left;
      line-height: 1.28;
      font-size: 12px;
      &:after {
        content: "";
        width: 8px;
        height: 7px;
        position: absolute;
        left: -8px;
        top: 2px;
        background-image: url("/assets/chat-left-arrow.png")
      }
    }
  }
  .message-container-right{
    padding: 10px;
    position: relative;
    .message-content-right{
      width: auto;
      max-width: 200px;
      font-family: helvetica, arial, sans-serif;
      word-wrap: break-word;
      border: 1px solid #a1a1a1;
      background: #dbedfe;
      border-radius: 3px;
      color: #373e4d;
      padding-left: 6px;
      padding-right: 5px;
      padding-bottom: 3px;
      padding-top: 4px;
      text-align: left;
      line-height: 1.28;
      font-size: 12px;
      float: right;
      &:after {
        content: "";
        width: 8px;
        height: 7px;
        position: absolute;
        right: -8px;
        top: 2px;
        background-image: url("/assets/chat-right-arrow.png")
      }
    }
  }
}

.message-announce{
  font-style: italic;
  font-size: 12px;
  font-color: #0086b3;
  font-family: "Times New Roman", Times, serif;
}

.error-messages {
  color: red;
}

.set-avatar-checkbox {
  float: right;
  margin-bottom: 10px !important;
}

#form-add-address {
  background-color: white;
  border-radius: 5px;
  h3 {
    color: #337AB7 !important;
    font-family: Trocchi, serif !important;
    font-size: 30px !important;
    font-weight: normal !important;
    line-height: 48px !important;
    margin-left: 20px !important;
  }
}

#form-edit-address {
  background-color: white;
  border-radius: 5px;

  h3 {
    color: #337AB7 !important;
    font-family: Trocchi, serif !important;
    font-size: 30px !important;
    font-weight: normal !important;
    line-height: 48px !important;
    margin-left: 20px !important;
  }
}

#input-form-text {
  min-height: 250px !important;
  display:inline-block;
  .textarea {
  min-height:100px;
  display:inline-block;
  float: right;
  min-width: 500px;
  max-width: 500px;
  display:inline-block;
  overflow:auto;
  }
}

#input-form-checkbox {
  margin-top: 30px;
  .parking-checkbox {
  float: right;
  margin-right: 200px !important;
  }
}

.visit:visited {
  color: #D119FF;
}

hr {
  border-color: #cbd3d1;
}

#visited {
  border-radius: 5px;
  background-color: white;
}

#visited-title {
  border-bottom: soild 1px;
  padding: 10px 0px 10px 0px;
  border-bottom: solid 1px;
  border-color: rgb(203, 211, 209);

  span {
    margin-left: 5px;
  }
}

#first-column {
  padding: 0px;
}

#fix-square {
  font-size: 13px;
  padding-left: 2px;
}

#fix-marker {
  margin-left: -2px;
}

.next-previous-links {
  text-align: center;
}

.edit_review {
  width: 500px;
  margin: 10px 0px 0px 70px;
  max-width: 500px;

  #review_content {
    width: 500px;
    max-width: 500px;
    overflow: auto;
  }
  .post-action {
    border: 1px solid #ccd3d7;
    border-top: none;
    border-radius: 6px;
    padding-top: 8px;
    section {
      float: left;
    }
    .upload-img {
      width: 30px;
      margin-left: 8px;
      img {
        margin-top: 5px;
        width: 25px !important;
        height: 25px !important;
      }
    }
    .rate-address {
      width: 125px;
      margin-left: 30px;
      #rate {
        margin-top: 5px;
        img {
          width: 20px !important;
          height: 20px !important;
        }
      }
    }
    .rate-address + section button {
      margin: 1px 0px 0px 82px;
      font-weight: bold;
      background: #E0E0E2;
      height: 34px;
    }
    .form-actions {
      width: 135px;
      input[type="submit"] {
        background: none repeat scroll 0 0 #4466aa;
        border: medium none;
        color: #fff;
        font-weight: bold;
        margin: 2px 0 0 13px;
      }
    }
  }
}
.comment-list {
  margin: 12px 0px 8px 15px;
  a[rel="next"] {
    font-size: 13px !important;
  }
  .comment {
    margin-bottom: 15px;
    .wrap-content-comment {
      margin-top: -7px;
    }
  }
  .avatar-wrap {
    img {
      width: 40px !important;
      height: 40px !important;
    }
  }
  .list-features {
    margin-top: 0px !important;
    a {
      font-size: 13px !important;
    }
  }
}

.wrap-content-review {
  .show-point {
    margin-bottom: 12px;
    img {
      width: 15px !important;
      height: 15px !important;
    }
  }
  .image-review {
    margin-bottom: 9px;
    img {
      max-width: 135px;
      max-height: 135px;
      margin-left: 150px;
    }
  }
}

.avatar_user {
  position: relative;
  height: 200px;
  left: 5px;
  width: auto;
}

.information {
  position: relative;
  font-family: "times new roman", times, serif;
  font-size: 12.5px;
  top: 30px;

}

#fix_size_image {
  height: 300px;

  img {
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }
}

#image_arrow_slide {
  position: relative;
  top: 90px;
  font-size: 40px;
}

.carousel-caption {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 3px;
  background: #333333;
  background: rgba(0, 0, 0, 0.75);

  h4, p {
    line-height: 15px;
    position: relative;
    font-family: "times new roman", times, serif;
    text-align: justify;
    color: rgb(255, 255, 255);
  }

}

#sort {
  position: relative;
  width: 150px;
  bottom: 10px;
  font-size: 11.5px;
}

#sorting_label {
  position: relative;
  right: 72px;
  top: 20px;
}

#retal_house_user {
  position: relative;
  top: 20px;
  color: #337AB7 !important;
}

#no_rental {
  color: #337AB7;
  font-family: Trocchi, serif !important;
  font-size: 25px !important;
  font-weight: normal !important;
  line-height: 48px !important;
  margin-bottom: 20px !important;
}

#profile {
  position: relative;
  height: 450px;
  width: 240px;
  right: 15px;
}

#follow {
  position: relative;
  top: 15px;
}

#result_sort {
  position: relative;
  bottom: 19.3px;
  left: 95px;
  color: #337AB7 !important;
}

#result_sorting {
  color: #337AB7 !important;
  position: relative;
  left: 25px;

  #result {
    position: relative;
    bottom: 19px;
    left: 50px;
  }
}

.form-add-comment {

}

#new_comment {
  textarea {
    margin: 10px 0px 0px 0px;
    height: 35px;
    max-width: 500px;
    min-height: 35px;
    max-height: 136px;
    min-width: 500px;
    width: 500px;
  }
  .control-area {
    float: right;
    img {
      width: 25px !important;
      height: 25px !important;
      margin: 13px 30px 0px 0px;
    }
    input {
      margin: 12px 10px 0px 0px;
      margin-bottom: 0px !important;
    }
  }
}
.glyphicon-triangle-top:hover {
  cursor: pointer;
}

.edit_comment {
  margin-top: 4px;
  textarea {
    height: 37px;
    max-width: 432px;
    min-height: 37px;
    min-width: 432px;
    width: 432px;
  }
  .control-area {
    float: right;
    img {
      width: 25px !important;
      height: 25px !important;
      margin: 13px 30px 0px 0px;
    }
    button.cancel {
      margin-top: 13px;
    }
    input {
      margin: 12px 10px 0px 0px;
      margin-bottom: 0px !important;
    }
  }
}

.img-comment img {
  width: auto !important;
  height: auto !important;
  margin: 9px 0px 9px 120px;
  max-width: 135px !important;
  max-height: 135px !important;
  min-width: 30px !important;
  min-height: 30px !important;
}

.new_comment {
  margin-bottom: 13px;
}

.icon-map:hover {
  cursor: pointer;
}

#row_search {
  height: 140px;
}

#modal_submit_search {
  position: relative;
  right: 300px;
  top: 10px;
  width: 150px;
}

.btn_close {
  position: relative;
  left: 50px;
  width: 150px;
}

#label_none {
  position: relative;
  bottom: 0.5px;
  left: 70%;
}

#label_have {
  position: relative;
  bottom: 0.5px;
  left: 180px;
}

.search {
  width: 100%;
  padding: 8px 5px 30px 5px;
  border-radius: 5px;
  padding: 8px 5px 20px 5px;
  border-radius: 3px;
  padding: 8px 5px 10px 5px;
  background: #FFF;
  border-bottom: solid 1px;
  border-color: #cbd3d1;
  height: 70%;

  #col_keyword {
    left: 3%;
    bottom: 25px;
  }

  #col_square, #col_price {
    left: 3%;
  }

  #advance_search {
    position: relative;
    left: 20px;
  }

  #sumbit_search {
    position: relative;
    right: 10%;
    height: 35px;
    font-size: 12px;
  }

  .wall {
    position: relative;
    left: 3%;

    #keyword {
      position: relative;
      width: 93%;
    }
  }

  #address {
    position: relative;
    right: 10%;
  }

  #content_advance_search {
    position: relative;
    left: 5%;
    display: none;
  }

  .fix_checkbox_position {
    position: relative;
    right: 17px;
    bottom: 18.5px;
  }
}
