@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.my-header {
  padding-top: 50px;
}

#my-header {
  background: #1D568E;
}

html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
