<header class="navbar navbar-fixed-top" id="my-header">
  <div class="container">
    <div class="dropdown">
      <button class="btn dropdown-toggle glyphicon
        glyphicon-circle-arrow-down"
        type="button" data-toggle="dropdown" >
      </button>
      <ul class="dropdown-menu">
        <% if user_signed_in? %>
          <li>
            <%= link_to t("address.new_address"), "#myModal",
            data: {toggle: "modal", name: t("address.new.name"), directional: "new_address"},
            id: "new_address" %>
          </li>
          <li>
            <%= link_to t("logout"), destroy_user_session_path,
            method: :delete, class: "navbar-link" %>
          </li>
        <% else %>
          <li><%= link_to t("login"), new_user_session_path %></li>
          <li><%= link_to t("register"), new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
